html,
body{margin:0;padding:0;text-align:center;}

#pagewidth{width:1024px;text-align:left;margin:0 auto;}

#header{position:relative;height:150px;background-color:#FFC851;width:100%;display:block;overflow:none;text-align:center;font-family: "Goudy Old Style"; }
#leftcol{width:250px;float:left;position:relative;background-color:#7F7F7F;color:white;padding-left:25px;padding-right:25px;font-family: "Goudy Old Style";}
#maincol{background-color:#000000;position:relative;width:674px;float:right;color:white;padding-left:25px;padding-right:25px;font-family: "Goudy Old Style";}
#tables{height:774px; overflow-y:scroll;}
#footer{height:60px;background-color:#4700B3;clear:both;display:block;overflow:none;text-align:center;font-family: "Goudy Old Style";color:white;padding:15px;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}.clearfix{display:inline-block;}
* html 
.clearfix{height:1%;}.clearfix{display:block;}@media print{#leftcol{display:none;}#twocols,#maincol{width:100%;float:none;}}